[submodule "lib/MultiCellDS"]
	path = lib/MultiCellDS
	url = https://gitlab.com/Guacimo/MultiCellDS.git
	branch = boundary
[submodule "lib/Catch2/src"]
	path = lib/Catch2/src
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/hoomd/hoomd-blue"]
	path = lib/hoomd/hoomd-blue
	url = https://github.com/glotzerlab/hoomd-blue
[submodule "lib/muscle3/muscle3_src"]
	path = lib/muscle3/muscle3_src
	url = git@github.com:multiscale/muscle3.git
